<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Codemon</title>
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="icon" type="image/x-icon" href="/assets/favicon.png" />
	</head>
	<body>
		<div id="game-container"></div>
		<script src="/js/phaser.min.js"></script>
		<script type="module">
			import { AudioManager } from "/managers/AudioManager.js";
			window.AudioManager = AudioManager;
			console.log("Audio manager has been loaded and attached to window");
		</script>
		<script src="/managers/GameManager.js"></script>
		<script src="/js/intro.js"></script>
		<script src="/js/bootScene.js"></script>
		<script src="/js/battleScene.js"></script>
		<script src="/js/endScene.js"></script>
		<script src="/js/main.js"></script>
	</body>
</html>
